/* risotto specific css */
.teaser .row {
  background-color: #fbeec1;
}

#preparation .row {
  background-color: #daad86;
}

.share .btn {
  justify-content: center;
  background-color: #fbeec1;
}

/* title animation */
.animation {
  position: relative;
  padding: 0;
  display: block;
  cursor: pointer;
  overflow: hidden;
}

.animatedTitle {
  opacity: 0;
  font-size: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(101, 157, 189, 0.5);
  width: 100%;
  -webkit-transition: all 400ms ease-out;
  -moz-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  -ms-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
}

.animation:hover .animatedTitle {
  opacity: 1;
}
