html {
}

.navbar {
  background-color: #8d8741 !important;
}

/*


.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropbtn {
  background-color: #e8edeb;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content a {
  color: rgb(243, 229, 229);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
*/
main {
}

.recipes img {
  max-height: 700px;
}

footer {
}

.container {
  background-color: #afd275;
}

.page {
  background-color: #7e685a;
}
